<div class="cs-header px-10px w-full h-[56px] flex justify-center">
  <div class="inner-container bg-white bg-opacity-50 rounded-b-md px-10px md:px-30px w-full mx-auto max-w-desktop h-full flex items-center">
    <div class="actions-container text-main">
      <div class="action-item cursor-pointer back-action flex gap-10px" (click)="onBackClicked()">
        <svg-icon [src]="'assets/images/svg/back-icon.svg'"></svg-icon>
        <span>بازگشت</span>
      </div>
      <ng-container *ngIf="actionbarConfig && actionbarConfig.actions.length>0">
        <div class="action-item cursor-pointer flex gap-10px" *ngFor="let action of actionbarConfig.actions">
          <svg-icon [src]="action.iconPath"></svg-icon>
          <span></span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
