<header class="cs-header bg-white w-full h-[56px] px-10px flex justify-center">
  <div class="inner-container w-full mx-auto max-w-desktop h-full flex items-center justify-between">
    <div *ngIf="headerConfig.username">
<!--      <svg-icon *ngIf="headerConfig.iconPath" [src]="headerConfig.iconPath"></svg-icon>-->
      <div class="flex justify-center items-center gap-10px">
        <span *ngIf="headerConfig.role === 'ADMIN'" nz-icon nzType="star" nzTheme="fill" class="text-warning"></span>
        <div class="text-xl">{{headerConfig.username}}</div>
<!--        <div class="text-secondary"-->
<!--             [routerLink]="headerConfig.subtitle.link">-->
<!--          {{headerConfig.subtitle.value}}-->
<!--        </div>-->
      </div>
    </div>
    <button nz-button
            *ngIf="headerConfig.role !== 'VIEWER'"
            nzType="default"
            nzDanger
            (click)="onLogout()">{{'auth.signout' | translate}}</button>
  </div>
</header>

