<div class="bg-white rounded-md pt-10px">
  <div class="px-5px md:px-10px" >{{title}}</div>
  <hr class="text-neutral text-opacity-50">
  <div class="widget-content px-5px md:px-15px py-10px">
    <ng-container>
      <ng-content></ng-content>
    </ng-container>
    <ng-template #loadingTemplate>
      <div class="min-h-[200px] flex justify-center items-center">
        <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
        <ng-template #indicatorTemplate><i nz-icon nzType="loading" class="text-[45px]"></i></ng-template>
      </div>
    </ng-template>
  </div>
</div>
