<nz-table #basicTable [nzData]="listOfData" [nzFrontPagination]="false">
  <thead>
  <tr>
    <th *ngFor="let header of headers">{{header}}</th>
  </tr>
  </thead>
  <tbody *ngIf="!!listOfData && listOfData.length > 0 else emptyViewTemplate">
  <ng-container>
    <ng-container *ngFor="let rowData of listOfData; let i = index; trackBy: trackByFn;">
      <tr>
        <ng-container *ngFor="let td of tableCells;let tdIndex = index; trackBy: trackByFn;">
          <td>
            <ng-container [ngTemplateOutlet]="td" [ngTemplateOutletContext]="{data: rowData, index: tdIndex}">
            </ng-container>
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>

  <ng-template #emptyViewTemplate>
    <tr>
      <td colspan="100%" class="pt-40px">
        <ng-container [ngTemplateOutlet]="emptyView">
        </ng-container>
      </td>
    </tr>
  </ng-template>

</nz-table>
